# Lab 1: Pandas Basics
This lab will introduce you to basic Pyhton and `pandas`. *italic* **bold**

In [1]:
import pandas as pd
import datetime

In [10]:
# read in the data
weather = pd.read_csv('last_ten_alb.csv')

In [11]:
weather.head()

,Unnamed: 0,timestamp,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,...,tornado_f,station_id,ctry,state,station_name,lat,lon,elevation,begin,end
0,0,2012-01-01,5.333333,24,36.0,24,1013.5,22,1003.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
1,1,2012-01-02,3.722222,24,27.4,24,1003.9,23,992.9,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
2,2,2012-01-03,-5.888889,24,9.3,24,1012.5,24,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
3,3,2012-01-04,-11.777778,24,-1.1,24,1020.8,24,1009.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
4,4,2012-01-05,-3.833333,24,12.8,24,1012.2,22,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27

In [12]:
weather['timestamp'] = pd.to_datetime(weather['timestamp'])

In [13]:
weather.head()

,Unnamed: 0,timestamp,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,...,tornado_f,station_id,ctry,state,station_name,lat,lon,elevation,begin,end
0,0,2012-01-01,5.333333,24,36.0,24,1013.5,22,1003.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
1,1,2012-01-02,3.722222,24,27.4,24,1003.9,23,992.9,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
2,2,2012-01-03,-5.888889,24,9.3,24,1012.5,24,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
3,3,2012-01-04,-11.777778,24,-1.1,24,1020.8,24,1009.5,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27
4,4,2012-01-05,-3.833333,24,12.8,24,1012.2,22,1001.0,24,...,0,725180-14735,US,NY,ALBANY INTERNATIONAL AIRPORT,42.747,-73.799,85.3,1946-01-01,2021-09-27

In [15]:
weather.describe()

,Unnamed: 0,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,visib,...,snow_depth,fog_f,rain_or_drizzle_f,snow_or_ice_pellets_f,hail_f,thunder_f,tornado_f,lat,lon,elevation
count,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000,3886.000000,3888.000000,3873.000000,3888.000000,3888.000000,...,681.000000,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000,3888.0,3.888000e+03,3.888000e+03,3.888000e+03
mean,178.212449,10.148448,23.995628,38.386548,23.995370,1016.921256,22.544753,1006.107255,23.979681,9.301080,...,3.897944,0.170267,0.424897,0.201646,0.002058,0.075360,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
std,104.738930,10.505663,0.272638,19.387607,0.273105,7.425407,2.424163,7.362618,0.419304,1.362187,...,3.692814,0.375916,0.494391,0.401281,0.045320,0.264005,0.0,2.345093e-12,8.527610e-13,6.225155e-12
min,0.000000,-20.444444,7.000000,-22.400000,7.000000,990.600000,7.000000,978.600000,7.000000,1.200000,...,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
25%,88.000000,1.722222,24.000000,23.400000,24.000000,1012.100000,22.000000,1001.400000,24.000000,9.200000,...,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
50%,176.000000,10.777778,24.000000,39.000000,24.000000,1016.600000,24.000000,1005.900000,24.000000,10.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
75%,268.000000,19.611111,24.000000,55.200000,24.000000,1021.700000,24.000000,1010.800000,24.000000,10.000000,...,5.100000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01
max,365.000000,31.111111,24.000000,73.500000,24.000000,1041.900000,24.000000,1030.600000,24.000000,13.700000,...,20.900000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,4.274700e+01,-7.379900e+01,8.530000e+01

In [16]:
annual_avg_temp = weather.groupby(pd.Grouper(key='timestamp', freq='Y')).mean()
annual_avg_temp

,Unnamed: 0,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,visib,...,snow_depth,fog_f,rain_or_drizzle_f,snow_or_ice_pellets_f,hail_f,thunder_f,tornado_f,lat,lon,elevation
timestamp,,,,,,,,,,,,,,,,,,,,,
2012-12-31,182.5,11.024894,24.00000,40.507377,24.00000,1015.953552,22.622951,1005.170219,24.000000,9.301913,...,2.928000,0.185792,0.439891,0.172131,0.002732,0.071038,0.0,42.747,-73.799,85.3
2013-12-31,182.0,9.508067,24.00000,37.835616,24.00000,1017.332877,22.627397,1006.547790,23.991781,9.216438,...,3.283824,0.210959,0.397260,0.257534,0.000000,0.082192,0.0,42.747,-73.799,85.3
2014-12-31,182.0,9.187367,24.00000,36.442466,24.00000,1016.722740,22.558904,1005.875824,24.000000,9.248493,...,4.426087,0.186301,0.394521,0.210959,0.005479,0.063014,0.0,42.747,-73.799,85.3
2015-12-31,182.0,9.997717,24.00000,36.967945,24.00000,1017.829589,22.747945,1007.035262,24.000000,9.292055,...,7.518841,0.186301,0.378082,0.169863,0.002740,0.057534,0.0,42.747,-73.799,85.3
2016-12-31,182.5,10.727838,24.00000,38.268579,24.00000,1016.599180,22.688525,1005.803279,23.991803,9.439071,...,1.410811,0.177596,0.404372,0.191257,0.002732,0.079235,0.0,42.747,-73.799,85.3
2017-12-31,182.0,10.274581,24.00000,38.684384,24.00000,1016.342740,22.572603,1005.574105,23.975342,9.332603,...,3.815152,0.164384,0.432877,0.175342,0.005479,0.073973,0.0,42.747,-73.799,85.3
2018-12-31,182.0,10.298630,24.00000,38.700274,24.00000,1017.995616,22.263014,1007.139726,24.000000,9.140548,...,3.468132,0.175342,0.460274,0.241096,0.000000,0.071233,0.0,42.747,-73.799,85.3
2019-12-31,182.0,9.912938,24.00000,37.187123,24.00000,1017.198077,22.630137,1006.342541,23.873973,9.318630,...,3.944304,0.161644,0.454795,0.205479,0.000000,0.090411,0.0,42.747,-73.799,85.3
2020-12-31,182.5,10.487098,24.00000,39.172951,24.00000,1016.870411,22.606557,1006.006044,24.000000,9.408197,...,3.693478,0.136612,0.445355,0.193989,0.000000,0.073770,0.0,42.747,-73.799,85.3
2021-12-31,182.0,9.561492,24.00000,40.458082,23.99726,1016.640274,22.169863,1005.800548,24.000000,9.226849,...,3.577778,0.167123,0.435616,0.200000,0.002740,0.093151,0.0,42.747,-73.799,85.3
2022-12-31,117.0,10.923404,23.92766,37.816596,23.92766,1016.504681,22.480851,1005.774249,23.923404,9.433617,...,2.550000,0.093617,0.434043,0.200000,0.000000,0.072340,0.0,42.747,-73.799,85.3

In [17]:
monthly_avg_temp = weather.groupby(pd.Grouper(key='timestamp', freq='M')).mean()
monthly_avg_temp

,Unnamed: 0,mean_tmp,mean_tmp_f,dew_point,dew_point_f,mean_sea_level_press,mean_sea_level_press_f,mean_stn_pressure,mean_stn_pressure_f,visib,...,snow_depth,fog_f,rain_or_drizzle_f,snow_or_ice_pellets_f,hail_f,thunder_f,tornado_f,lat,lon,elevation
timestamp,,,,,,,,,,,,,,,,,,,,,
2012-01-31,15.0,-1.749104,24.00000,19.416129,24.00000,1016.119355,21.935484,1004.912903,24.000000,8.845161,...,1.272727,0.129032,0.290323,0.548387,0.000000,0.000000,0.0,42.747,-73.799,85.3
2012-02-29,45.0,0.342912,24.00000,21.172414,24.00000,1017.106897,22.931034,1005.948276,24.000000,9.462069,...,3.900000,0.103448,0.344828,0.551724,0.000000,0.000000,0.0,42.747,-73.799,85.3
2012-03-31,75.0,7.664875,24.00000,31.103226,24.00000,1018.651613,22.741935,1007.774194,24.000000,9.377419,...,2.714286,0.161290,0.483871,0.225806,0.000000,0.000000,0.0,42.747,-73.799,85.3
2012-04-30,105.5,9.187037,24.00000,30.946667,24.00000,1012.030000,23.500000,1001.266667,24.000000,9.796667,...,NaN,0.166667,0.500000,0.000000,0.000000,0.000000,0.0,42.747,-73.799,85.3
2012-05-31,136.0,17.288530,24.00000,51.712903,24.00000,1015.925806,22.129032,1005.325806,24.000000,9.232258,...,NaN,0.064516,0.548387,0.032258,0.032258,0.161290,0.0,42.747,-73.799,85.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,104.5,9.020370,24.00000,31.463333,24.00000,1015.403333,22.533333,1004.800000,24.000000,9.500000,...,2.550000,0.066667,0.666667,0.066667,0.000000,0.033333,0.0,42.747,-73.799,85.3
2022-05-31,135.0,17.523297,24.00000,47.422581,24.00000,1017.187097,22.677419,1006.612903,24.000000,9.738710,...,NaN,0.032258,0.322581,0.000000,0.000000,0.129032,0.0,42.747,-73.799,85.3
2022-06-30,165.5,20.157407,24.00000,53.106667,24.00000,1014.033333,23.333333,1003.486667,23.966667,9.730000,...,NaN,0.066667,0.433333,0.000000,0.000000,0.066667,0.0,42.747,-73.799,85.3
2022-07-31,196.0,24.401434,24.00000,59.677419,24.00000,1013.358065,23.516129,1002.973333,24.000000,9.764516,...,NaN,0.000000,0.516129,0.000000,0.000000,0.193548,0.0,42.747,-73.799,85.3
2022-08-31,223.0,23.949275,23.26087,61.660870,23.26087,1015.713043,22.565217,1005.282609,23.260870,9.904348,...,NaN,0.043478,0.391304,0.000000,0.000000,0.130435,0.0,42.747,-73.799,85.3

In [27]:
weather['mean_tmp']

0        5.333333
1        3.722222
2       -5.888889
3      -11.777778
4       -3.833333
          ...
3883    22.833333
3884    24.444444
3885    26.000000
3886    24.555556
3887    21.888889
Name: mean_tmp, Length: 3888, dtype: float64

In [28]:
weather['mean_tmp'].plot